services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    image: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    restart:
      always
    env_file:
      - .env
    volumes:
      - wp_data:/var/www/html/wordpress
    networks:
      - inception_network

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    image: wordpress
    depends_on:
      - mariadb
    restart:
      always
    env_file:
      - .env
    volumes:
      - wp_data:/var/www/html/wordpress
    networks:
      - inception_network
  
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    image: mariadb
    restart:
      always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception_network

volumes:
    wp_data:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: /Users/MAC/data/wordpress
    db_data:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: /Users/MAC/data/database

networks:
  inception_network:
    driver: bridge
